<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/download_button.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p><small>{{ site.description | default: site.github.project_tagline }}</small></p>

        <p class="view" style="margin-bottom: 0;"> Reach me here,
          <ul style="padding:0;">
            <li style="list-style-type: none;"><a class="fa-solid fa-envelope"></a><a ref="mailto:offwork03@gmail.com"> Email </a></li>
            <li style="list-style-type: none;"><a class="fa-brands fa-linkedin" href="https://www.linkedin.com/in/neil-j-3a4693137/" target="_blank"></a> LinkedIn </li>
            <li style="list-style-type: none;"><a class="fa-brands fa-github" href="https://github.com/neiljo10/" target="_blank"></a> GitHub </li>
          </ul>
        </p>

        <p><small>Download a copy of my Resume</small></p>
        <a href="https://neiljo10.github.io/Neil%20Joseph_CV.pdf" download="Neil_Joseph_Resume.pdf">
          <span class="downloadButton">Download</span>
        </a>

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>